{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{%block content%}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga|Tangerine" rel="stylesheet">

    <div class="container text-center">
      <h2 class="card-title h1-responsive font-bold" style="padding: 10px 10px;font-size: 30px;font-style: inherit; background: black;"><strong> Pickup lines Pitches</strong> </h2>
    </div>
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>

{%endblock%}